.parallax {
    height: 600px;
    background-image: url('/public/images/marvel.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 100px;
  }